
form(v-on:submit.prevent="restaurants_create_ajax")
	.row
		label(for="restaurant") Insert Suggestion here
			input(type="text" id="restaurant_suggestion" name="restaurant_suggestion" placeholder="your suggestion")
			input(type="submit" value="submit") 