doctype html
html(lang='en')
	head
		title= title
		//include headinclude
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Meta
		meta(name='description', content='test woop woop')
		meta(name='author', content='Inky Zima')
		
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js")
		script(src="https://d1l4stvdmqmdzl.cloudfront.net/3.9.6/mongoose.js")
		script(src="https://unpkg.com/vue@2.4.3/dist/vue.js")
		script(src="https://unpkg.com/vee-validate@2.0.0-rc.7/dist/vee-validate.js")
		script(src="/javascripts/vee-validate-locale-de.js")
		//script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js")
		script(src="/javascripts/singlepageapp.js")
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300,600')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton-inky.css')
		link(rel='stylesheet', href='/stylesheets/singlepageapp.css')
		//script(src="/javascripts/skeleton-inky.js")


	body
		#menu.menu(style="position:fixed; padding-right:0.5rem")
			form#loginform( v-if="!loggedin" v-on:submit.prevent="loginsubmit")
				div
					label Username:
					input(type="text" name="username" v-validate="'required'")
				div
					label Password:
					input(type="password" name="password" v-validate="'required'")
				div
					input.button.button-primary(type="submit" value="Login")
			div(v-else)
				p(style="font-weight:bold") Logged in as 
					br
					{{loggedin_as}}
				button#logout.button.button-primary(v-on:click="logoutsubmit") Logout
			hr
			ul
				li(v-for="page in pages"): a(href="#" v-bind:id="page.menuid" v-on:click="toggle") {{page.title}}
		#container.container
			#header.header.row
				.twelve.columns
					h1(style="text-align:center; margin:3.5rem 0rem; letter-spacing:0rem;") App name
			#stickynav.nav
				.row
					.one.column.nav-top#hamburger
						.bar1
						.bar2
						.bar3
						
					.two.columns.nav-top
						a(href="#") Menu
					.two.columns.nav-top
						a(href="#") Menu
					.two.columns.nav-top
						a(href="#") Menu
					.two.columns.nav-top
						a(href="#") Menu
					.two.columns.nav-top
						a(href="#") Menu
					.one.column.nav-top
				.row
			#main
				//TODO i could do this a mixins or something
				#init.visible(title="Starting page"): include init
				#createpage.hidden(title="First page"): include createpage
				#secretpage.hidden(title="Secret Page"): include secretpage

			//hr
			#footer