
script(src="/javascripts/firstpage.js")

#firstpage_content
	p this is the first page

	form#firstform(v-on:submit.prevent="formsend")
		label(for="Restaurant Name" v-if="uiverbosity === 1") Restaurant Name:
		input(type="text" name="Restaurant Name" v-validate="'required|email'" placeholder="Restaurant Name")
		.help.is-danger(v-show="submitted && errors.has('Restaurant Name')") {{ errors.first('Restaurant Name') }}
		input(type="submit" name="submit")