extends singlepageapp

block headincludes
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://d1l4stvdmqmdzl.cloudfront.net/3.9.6/mongoose.js")
		script(src="https://unpkg.com/vue@2.4.3/dist/vue.js")
		script(src="/javascripts/index.js")
		script(src="/javascripts/singlepageapp.js")