doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Navbar · Bootstrap
		// Bootstrap core CSS
		link(href='stylesheets/skeleton-inky-new.css', rel='stylesheet')
		// Favicons
		link(rel='apple-touch-icon', href='http://getbootstrap.com/assets/img/favicons/apple-touch-icon.png', sizes='180x180')
		link(rel='icon', href='http://getbootstrap.com/assets/img/favicons/favicon-32x32.png', sizes='32x32', type='image/png')
		link(rel='icon', href='http://getbootstrap.com/assets/img/favicons/favicon-16x16.png', sizes='16x16', type='image/png')
		link(rel='manifest', href='http://getbootstrap.com/assets/img/favicons/manifest.json')
		link(rel='mask-icon', href='http://getbootstrap.com/assets/img/favicons/safari-pinned-tab.svg', color='#563d7c')
		link(rel='icon', href='http://getbootstrap.com/favicon.ico')

		// Meta
		meta(name='description', content='The most popular HTML, CSS, and JS library in the world.')
		meta(name='author', content='Inky Zima')
		
		// inky google analytics
		// script(async='', src='javascripts/analytics.js.Download')
		// script.
			// (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			// (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			// m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			// })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			// ga('create', 'UA-146052-10', 'getbootstrap.com');
			// ga('send', 'pageview');
		// inky carbonads
		// script#_carbonads_projs(type='text/javascript', src='http://srv.carbonads.net/ads/C6AILKT.json?segment=placement:getbootstrapcom&callback=_carbonads_go')
	body
		.wrapper.container
			#sidenav.red.two.columns
				p bump
			#main.yellow.eight.columns
				p some content in the main
			#righthand.blue.two.columns
				p bump

		script(src='javascripts/jquery-3.2.1.slim.min.js.Download', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script.
			window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\\/script>')